.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: #f0f9ff;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.content {
  display: flex;
  flex: 1;
  gap: 16px;
  width: 100%;
  padding: 8px;
  overflow: hidden;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.main,
.sidebar {
  display: flex;
  flex: 1;
  overflow: hidden;

  background: white;
  border-radius: 13px;
}
